:root {
  --color-text: #020617;
  --color-text-subtle: #71717a;
  --color-icon: #939baa;
  --color-icon-disabled: #a1a1aa;
  --color-bg: #ffffff;
  --color-bg-highlight: #f7f8fa;
  --color-border-subtle: #e2e8f0;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;

  --radius-table: 4px;
  --radius-button: 4px;
  --radius-popover: 4px;
  /* ?? */
  --radius-input: 4px;

  --shadow-sm: 0px 2px 2px 0px #1018280d;
  --shadow-lg: 0px 2px 8px 0px #10182830;

  --z-index-below: -1;
  --z-index-0: 0;
  --z-index-above: 1;
  --z-index-inf: 2147483647;
}

#root {
  min-height: 100vh;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

img,
svg {
  display: block;
}

button,
select {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow: overlay;
}
